<div class="shadow-1-strong bg-white my-5 p-5" id="about">
    <div class="about-section">
      <div class="row">
        <div class="col-md-5">
          <h2 class="h2 fw-light mb-4 center">About Me</h2>
          <app-avatar class="avatar"></app-avatar>
          <a href="https://drive.google.com/u/2/uc?id=13g8klkVCLrTcRxSePsOHPhqLs4PAd4jK&export=download" 
          download="../../cv.pdf" class="download" target="_blank">
            <i class="fas fa-download" style="color: #5eff24;">
          </i> &nbsp; Download CV</a>
        </div>
        <div class="col-md-5 offset-lg-1">
          <div class="row mt-2">
            <h2 class="h2 fw-light mb-4">Information</h2>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="fas fa-home pe-2 text-muted"
                  style="width:24px;opacity:0.85;"></i> Position</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2">{{position}}</div>
            </div>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="far fa-calendar-alt pe-2 text-muted"
                  style="width:24px;opacity:0.85;"></i> Age</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2">{{age}}</div>
            </div>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="far fa-envelope pe-2 text-muted"
                  style="width:24px;opacity:0.85;"></i> Email</div>
            </div>
            <div class="col-sm-7">
              <a class="pb-2" [href]="subject">{{email}}</a>
            </div>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="fab fa-facebook pe-2 text-muted"
                  style="width:24px;opacity:0.85;"></i> Facebook</div>
            </div>
            <div class="col-sm-7">
              <a class="pb-2" [href]="linkFacebook">{{facebook}}</a>
            </div>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="fas fa-phone pe-2 text-muted"
                  style="width:24px;opacity:0.85;"></i> Phone</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2">{{phone}}</div>
            </div>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="fas fa-map-marker-alt pe-2 text-muted"
                  style="width:24px;opacity:0.85;"></i> Address</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2">{{address}}</div>
            </div>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="fas fa-graduation-cap pe-2 text-muted"
                  style="width:24px;opacity:0.85;"></i> Education</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2">{{education}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>