.timeline-card {
    position: relative;
    margin-left: 16px;
  }
  
  .timeline-card:before {
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    top: 16px;
    left: -12px;
    border: 5px solid;
    z-index: 2;
  }
  
  .timeline-body {
    border-left: 2px solid #e6e9ed;
  }
  
  .timeline-card-primary:before {
    border-color: var(--bs-primary);
  }
  
  .timeline-card-info:before {
    border-color: var(--bs-info);
  }
  
  .timeline-card-secondary:before {
    border-color: var(--bs-secondary);
  }
  
  .timeline-card-success:before {
    border-color: var(--bs-teal);
  }
  .container-work-exp {
    display: flex;
    align-items: center;
  }
  .title-work-exp {
    display: flex;
    width: 25%;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #ccc;
    align-self: stretch;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 1%;
    transition: border 0.6s ease;
  }
  .content-work-exp {
    width: 70%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 1%;
    transition: border 0.6s ease;
  }
  .title-work-exp:hover {
    border: 1px solid #73d9eb;
  }
  .content-work-exp:hover {
    border: 1px solid #73d9eb;
  }
  
  @media print {
    .work-experience-section,
    .education-section,
    .portfolio-section,
    .reference-section,
    .contact-section {
      padding: 0 !important;
    }
  }
  [data-aos] {
      opacity: 1 !important;
  }