.container {
  max-width: 1140px;
}

@media print {
  body.bg-light {
    background-color: #fff !important;
  }
  .container {
    width: auto;
    max-width: 100%;
    padding: 0;
  }
  .resume-container > .my-5 {
    margin: 0 !important;
  }
}

#scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
}

#scrollToTopButton:hover {
  background-color: #0056b3;
}