<body class="bg-light" id="top">
  <app-sidebar></app-sidebar>
  
  <div class="page-content">
    <div class="container">
      <div class="resume-container">
        <app-info></app-info>
        <app-summary></app-summary>
        <app-practical-project></app-practical-project>
        <app-work-experience></app-work-experience>
        <app-project-personal></app-project-personal>
        <app-award></app-award>
        <app-hobbie></app-hobbie>
        <app-scroll-up></app-scroll-up>
      </div>
    </div>
  </div>

</body>