<header class="d-print-none">
    <div class="container text-center text-lg-left">
      <div class="pt-4 clearfix">
        <h1 class="site-title mb-0">{{titleName}}</h1>
        <div class="site-nav" > 
          <nav role="navigation">
            <ul class="nav justify-content-center">
              <li class="nav-item"><a class="nav-link" href="#about" title="About"><span class="menu-title">About</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#practicalProjects" title="Skills"><span class="menu-title">Practical Projects</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#experience" title="Experience"><span class="menu-title">Experiences</span></a>
              <!-- </li>
              <li class="nav-item"><a class="nav-link" href="#personalProjects" title="Education"><span class="menu-title">Personal Projects</span></a>
              </li> -->
              <li class="nav-item"><a class="nav-link" href="#awards" title="Portfolio"><span class="menu-title">Awards</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#hobbies" title="References"><span class="menu-title">Hobbies</span></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
</header>