.site-title {
  font-size: 1.25rem;
  line-height: 2.5rem;
}

.header-social .nav-link {
  font-size: 1.25rem;
}
.nav-item + .nav-item {
  margin-left: 1rem;
}
.nav-link {
  padding: 0;
  font-size: 1rem;
  line-height: 2.5rem;
  color: inherit;
  opacity: 0.8;
}

.nav-link:hover,
.nav-link:focus {
  color: inherit;
  opacity: 1;
}
